name: uniordle
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  equatable: ^2.0.8
  flip_card: ^0.7.0
  cupertino_icons: ^1.0.8
  bitsdojo_window: ^0.1.6
  lucide_icons: ^0.257.0
  flutter_soloud: ^3.4.9
  shared_preferences: ^2.5.4
  url_launcher: ^6.3.2
  auto_size_text: ^3.0.0
  confetti: ^0.8.0
  flutter_phoenix: ^1.1.1
  

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/audio/
    - assets/images/white_on_blue/favicon.png

  fonts:
  - family: Lexend
    fonts:
      - asset: assets/fonts/Lexend/Lexend-Thin.ttf
        weight: 100
      - asset: assets/fonts/Lexend/Lexend-ExtraLight.ttf
        weight: 200
      - asset: assets/fonts/Lexend/Lexend-Light.ttf
        weight: 300
      - asset: assets/fonts/Lexend/Lexend-Regular.ttf
        weight: 400
      - asset: assets/fonts/Lexend/Lexend-Medium.ttf
        weight: 500
      - asset: assets/fonts/Lexend/Lexend-SemiBold.ttf
        weight: 600
      - asset: assets/fonts/Lexend/Lexend-Bold.ttf
        weight: 700
      - asset: assets/fonts/Lexend/Lexend-ExtraBold.ttf
        weight: 800
      - asset: assets/fonts/Lexend/Lexend-Black.ttf
        weight: 900